.color {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    /* https://projects.raspberrypi.org/pt-PT/projects/pixel-art/6 */
}

.pixel {
    display: inline-block;
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

#pixel-board {
    display: inline-block;
}

.black {
    background-color: black
}

.blue {
    background-color: blue
}

.green {
    background-color: green
}

.yellow {
    background-color: yellow
}